.item {
  background: var(--xp-taskitem-grad);
  border: 1px solid #0c3a94;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 24px;
}

.item.active {
  background: var(--xp-taskitem-active-grad);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
}
